/**
 * Adapted from https://github.com/FontFaceKit/RobotoMono
 */

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 100;
    font-style: normal;
    src: url('RobotoMono/RobotoMono-Thin.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 100;
    font-style: italic;
    src: url('RobotoMono/RobotoMono-ThinItalic.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-style: normal;
    src: url('RobotoMono/RobotoMono-Light.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 300;
    font-style: italic;
    src: url('RobotoMono/RobotoMono-LightItalic.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-style: normal;
    src: url('RobotoMono/RobotoMono-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-style: italic;
    src: url('RobotoMono/RobotoMono-Italic.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-style: normal
    src: url('RobotoMono/RobotoMono-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 500;
    font-style: italic;
    src: url('RobotoMono/RobotoMono-MediumItalic.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-style: normal;
    src: url('RobotoMono/RobotoMono-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 700;
    font-style: italic;
    src: url('RobotoMono/RobotoMono-BoldItalic.ttf');
}

@font-face {
    font-family: 'Roboto Mono';
    font-weight: 900;
    font-style: normal;
    src: url('RobotoMono/RobotoMono-Black.ttf');
}
