build/
.gradle/
.idea/
lib/*
*.iml
*.log
*.log.*
*.csv
config.json
src/test/data/sandbox/
preferences.json
.DS_Store
./screenshot*.png
/data/

# Eclipse project files
/bin/
/.project
/.classpath
/.settings/

# checkstyle eclipse plugin
/.checkstyle
