@import "fonts/OpenSans.css";
@import 'fonts/Roboto.css';
@import "fonts/CourierNew.css"

.root {
    -fx-background-color: derive(#1d1d1d, 20%);
}

/* Backgrounds */
.split-pane, .split-pane-divider, .grid-pane, .status-bar, .anchor-pane, .menu-bar {
    -fx-background-color: inherit;
}

/* Borders */
.separator:vertical .line {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
    -fx-border-width: 0 1 0 1;
}

.label .glyph-icon {
    -fx-fill: -fx-text-fill;
    -fx-font-size: large;
    -fx-font-family: FontAwesome;
}

.label {
    -fx-font-family: 'Open Sans';
    -fx-font-size: 11pt;
    -fx-text-fill: white;
}

.header.label {
    -fx-font-weight: 800;
    -fx-font-size: 14pt;
    -fx-padding: 6pt;
}

.text-field {
    -fx-font-size: 12pt;
}

.split-pane:horizontal .split-pane-divider {
    -fx-border-color: transparent #1d1d1d transparent #1d1d1d;
}

.split-pane:vertical .split-pane-divider {
    -fx-border-color: #1d1d1d transparent #1d1d1d transparent;
}

.split-pane {
    -fx-border-radius: 1;
    -fx-border-width: 1;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell .label {
    -fx-text-fill: #010504;
}

.cell_big_label {
    -fx-font-size: 16px;
    -fx-text-fill: #010504;
}

.cell_small_label {
    -fx-font-size: 11px;
    -fx-text-fill: #010504;
}

.context-menu {
    -fx-background-color: derive(#1d1d1d, 50%);
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: #1d1d1d;
    -fx-font-size: 11pt;
    -fx-text-fill: #d8d8d8;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: white;
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-border-color: white, white;
    -fx-border-width: 1, 1;
    -fx-border-style: solid, segments(1, 1);
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

.dialog-pane {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.button-bar > *.container {
    -fx-background-color: #1d1d1d;
}

.dialog-pane > *.label.content {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
}

.dialog-pane:header *.header-panel {
    -fx-background-color: derive(#1d1d1d, 25%);
}

.dialog-pane:header *.header-panel *.label {
    -fx-font-size: 18px;
    -fx-font-style: italic;
    -fx-fill: white;
    -fx-text-fill: white;
}

.scroll-bar .thumb {
    -fx-background-color: derive(#1d1d1d, 50%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

.error {
    -fx-background-color: red;
}

.tooltip-text {
    -fx-text-fill: white;
}

.card {
    -fx-padding: 5px 5px 5px 15px;
    -fx-border-color: #d6d6d6;
    -fx-border-width: 1px 1px 1px 10px;
}

.card.finished .text {
    -fx-strikethrough: true;
    -fx-fill: gray;
}

.card.inProgress {
    -fx-border-color: green;
}

.card.overdue {
    -fx-border-color: red;
}

.card.overdue .text {
    -fx-fill: red;
}

.card.priority0 {
}

.card.priority1 {
    -fx-border-color: #007fff;
}

.card.priority2 {
    -fx-border-color: #7fff00;
}

.card.priority3 {
    -fx-border-color: #ffff00;
}

.card.priority4 {
    -fx-border-color: #ff9900;
}

.card.priority5 {
    -fx-border-color: #ff0000;
}

.helpBox {
	-fx-font-family: 'Courier New';
}
